<!DOCTYPE html>
<html lang="en" ng-app="kypos">
<head>
  <meta charset="UTF-8">
  <title>KYPOS</title>
  <!-- puplic google map api key -->
 <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWwE3hclrlFwCwKizCODl_0UflfLa31-c"></script>
  <!-- angular -->
   <script src="/bower_components/angular/angular.js"></script> 

  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- local styles -->

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap.css">

   <link rel="stylesheet" type="text/css" href="/app/public/stylesheets/style.css">

  <script src="/bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
  
  <!-- google maps  -->
  <script src='/bower_components/lodash/dist/lodash.min.js'></script>

  <script src='/bower_components/angular-simple-logger/dist/angular-simple-logger.js'></script>

  <!-- satellizer -->
   <!-- satellizer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>


  <!-- AUTH0 -->
  <!-- We use client cookies to save the user credentials -->
  <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>

  <!-- Auth0 Lock script and AngularJS module -->
  <script src="//cdn.auth0.com/js/lock-9.0.min.js"></script>
  <!-- angular-jwt and angular-storage -->
  <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

  <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>

  <!-- Setting the right viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <script src='/bower_components/angular-google-maps/dist/angular-google-maps.js'></script>
  <!-- local scripts-->
  <script type="text/javascript" src="/app/app.js"></script>
  <script type="text/javascript" src="/app/services/account.js"></script>
  <script type="text/javascript" src="/app/controllers/GardensController.js"></script>
  <script type="text/javascript" src="/app/controllers/HomeController.js"></script>
  <script type="text/javascript" src="/app/controllers/LoginController.js"></script>
  <script type="text/javascript" src="/app/controllers/LogoutController.js"></script>
  <script type="text/javascript" src="/app/controllers/ProfileController.js"></script>
  <script type="text/javascript" src="/app/controllers/SignupController.js"></script>
  <script type="text/javascript" src="/app/controllers/MainController.js"></script>
  <script type="text/javascript" src="/app/controllers/MapController.js"></script>
</head>

<body>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Kypos</a>
    </div><!-- /.navbar-collapse -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a ui-sref="home">Home</a></li> -->
        <li><a ui-sref="login">Login</a></li>
        <li><a ui-sref="signup">Signup</a></li>
        <li><a ui-sref="profile">Profile</a></li>
        <li><a ui-sref="logout">Log Out</a></li>
        <li><a ui-sref="gardens-index">Gardens</a></li>
        <li><a ui-sref="map">Map</a></li>
        <!-- <li><a href="" ng-click="logout()">SignOut</a></li> -->
      </ul>
  </div><!-- /.container-fluid -->
  </nav>

<div ui-view>

</div>

<!-- <h1>index test</h1> -->

<!-- <input type="submit" ng-click="logout()" value="Log out" /> -->

<!-- <input type="submit" ng-controller="LoginController" ng-click="auth.signin()" /> -->
  
</div>
</body>
</html>